body {
   margin:0;
   padding:0;
   background:#f1f1f1;
}

.center {
  position:absolute;
  top: 50%;
  left: 60%;
  width: 50%;
  transform: translate(-50%, -50%);
}

.box{
  
  width:400px;
  height:200px;
  position: relative;
  transform:perspective(500px) rotate(-40deg) skew(25deg);
  box-shadow:-90px 75px 20px rgba(0,0,0,.3);
  background:#fff url("im.png");
  background-size:100px;
  background-repeat:no-repeat;
  background-position:50% 50%;
  transition:0.5s;
  animation:yam 2s linear infinite;

}
/*trying to use loader experimental*/
@keyframes yam {
  0%{
    transform:perspective(500px) rotate(-40deg) skew(25deg);
    box-shadow:-90px 75px 20px rgba(0,0,0,.3);
    opacity: 1;
    }
  15%{
    transform:perspective(500px) rotate(-40deg) skew(25deg) translate(50px, -50px);
    box-shadow:-150px 115px 100px rgba(0,0,0,.3);
    
  }
  35%{
    transform:perspective(500px) rotate(-40deg) skew(25deg);
    box-shadow:-90px 75px 20px rgba(0,0,0,.3);
    opacity: .8;
  }
 45%{
  transform:perspective(500px) rotate(-40deg) skew(25deg) translate(50px, -50px);
  box-shadow:-150px 115px 100px rgba(0,0,0,.3);
 }
 55%{
  transform:perspective(500px) rotate(-40deg) skew(25deg);
  box-shadow:-90px 75px 20px rgba(0,0,0,.3);
  opacity: .6;
 } 
 65%{
  transform:perspective(500px) rotate(-40deg) skew(25deg) translate(50px, -50px);
  box-shadow:-150px 115px 100px rgba(0,0,0,.3);
 }
 75%{
  transform:perspective(500px) rotate(-40deg) skew(25deg);
  box-shadow:-90px 75px 20px rgba(0,0,0,.3);
  opacity: .4;
 }
 85%{
  transform:perspective(500px) rotate(-40deg) skew(25deg) translate(50px, -50px);
  box-shadow:-150px 115px 100px rgba(0,0,0,.3);
 }
 100%{
  transform:perspective(500px) rotate(-40deg) skew(25deg);
  box-shadow:-90px 75px 20px rgba(0,0,0,.3); 
  opacity: 1;
 }
}

/*.box:hover {
  transform:perspective(500px) rotate(-40deg) skew(25deg) translate(50px, -50px);
  box-shadow:-150px 115px 100px rgba(0,0,0,.3);
}*/

.box:before{
  content:'';
  width:90px;
  height:100%;
  position:absolute;
  top:0;
  left:0;
  transform:skewY(-40deg) translate(-90px, -38px);
  background:#e8e7ec url("ima.png");
  background-repeat:no-repeat;
  background-position:50% 50%;
  background-size: 60px;
  
}

.box:after{
  content:'';
  width:100%;
  height:77px;
  position:absolute;
  bottom:0;
  left:0;
  transform:skewX(-50deg) translate(45px, 76px);
  background:#e8e7ec url("ima.png");
  background-size:90px;
  background-repeat:no-repeat;
  background-position:50% 50%;
  background-size: 45px;
}

/*TRYING To make the page appear after the loader*/


/* @keyframes beans {
  0%{
    opacity: 0;
  }
  25%{
    opacity: 0.1;
  }
  50%{
    opacity:0.3;
  }
  85%{
    opacity:0.6;
  }
  100%{
    opacity: 0;
  }
} */
